// Fonts
$font--primary : 'Roboto', sans-serif;

// Spacing
$spacing--xsmall  : 4px;
$spacing--small   : 8px;
$spacing--medium  : 16px;
$spacing--large   : 24px;
$spacing--xlarge  : 32px;
$spacing--xxlarge : 40px;


// Paths
$path--images : '../assets/images/';
$path--fonts  : '../assets/fonts/';